.borda-verde 
{
    border-left: 4px solid #5CB85C;
}

.borda-laranja{
    border-left: 4px solid #EC8718;
}

.borda-cinza{
    border-left: 4px solid #CCCCCC;
}


.borda-azul{
    border-left: 4px solid #1976D2;
}